
.navbar-default {
	background-color:#2c3e50;
	padding: 30px;
}
.navbar-default .navbar-brand{

	background-color: #2c3e50;
	border-color: #18bc9c;
	color: #ffffff;
	font-size: 30px;
	font-family: "Helvetica";
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color:#18bc9c;
}


.navbar-default .navbar-nav > li > a {
	background-color: #2c3e50;
	color:#ffffff;
	font-size: 20px;
	font-family: "Helvetica";
}

.navbar-default .navbar-nav > .active {
	color:#ffffff;
	background-color:#1a242f;
}

.navbar-default .navbar-nav >li > a:hover,
.navbar-default .navbar-nav >li >a:focus {
	color:#18bc9c;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color:#ffffff;
	background-color:#1a242f;

}

.img-overlay {
	border-radius:10px;
	max-width: 300px;
	background-color: #2c3e50 ;
		display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}




body {
font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 15px;
line-height: 1.4;

padding-top: 110px;


}
@media (min-width:767px;){


	body {
		padding-top: 0px;
	}
}

header {
	padding-top:65px;
	padding-bottom:50px;

	color: #ffffff;
	text-align:center;
	background-color: #18bc9c;
	font-family: "Helvetica";
}



.glyphicon-star {
	display: block;
	text-align:center;
	font-size: 30px;
	padding: 15px;
	

}

#portfolio {
	padding-top:50px;
	padding-bottom:50px;
	color:#2c3e50;


}

.portfolio-hover img {
	height:250px;
	width: 100%;
}

.portfolio-hover > a:hover {
	background-color:#2c3e50;
	opacity: 0.8;

}


   


#about {
	padding-top:50px;
	padding-bottom:50px;
	font-size: 20px;
	color:#ffffff;
	background-color:#18bc9c;

}
#about-section-1 {
	padding: 20px;
}

#about-section-2 {
	padding-top: 20px;
}

#contact {
	padding-top:50px;
	
	color:#2c3e50;

}
.form-group {
	margin-bottom: 0;
	padding-bottom: 0;
	margin-bottom: 15;	


}


.form-group input, textarea {

    background-color: transparent;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #eeeeee;
    height: 100px;
    width: 100%;
    font-size: 20px;
    border-left: none;
    border-right: none;

}

textarea:focus, input:focus {
	outline: none;
}

.name {
	display:none;
}

.submit-group {
	padding: 15px;
}

.btn, .submit-group {
color: #ffffff;
background-color: #18bc9c;
border-radius:10px;
font-size: 20px;
display: block;
padding: 18px 27px;

	

}

#footer-top {
	margin-top: 50px;
	padding-top:50px;
	padding-bottom:50px;
	font-size: 20px;
	color:#ffffff;
	background-color:#2c3e50;

}
.row-foot-top1 {
	padding-bottom: 50px;
	font-size: 30px;
	position: absolute;
	display: inline-block;
	height: 3em;

}

.row-foot-top2  {
	padding-top: 50px;
	font-size: 20px;
	position:absolute;
	display: inline-block;
	height: 3em;
}

#footer-bot {
	padding-top:30px;
	padding-bottom:30px;
	font-size: 15px;
	color:#ffffff;
	background-color:#233140;
	text-align:center;
	line-height: 1.1;

}

.list-inline a, li {
	font-size: 40px;
	color: #ffffff;

}


.list-inline a:hover,
.list-inline a:focus {
	color:#18bc9c;
}

.list-inline a > li > i:hover,
.list-inline a > li > i:focus {
	color:#18bc9c;
}